# =========================================================================
# CONFIGURACIÓN DEL FORMULARIO DE CONTACTO (SMTP)
# =========================================================================
# Instrucciones:
# 1. Copia este archivo y renombralo a `.env` en la raíz de tu servidor.
# 2. Rellena los datos de abajo (especialmente la contraseña del correo).
# 3. El archivo `.env` está en `.gitignore` por lo que tus credenciales 
#    nunca se guardarán públicamente ni se filtrarán en tu repositorio.
# =========================================================================

# Servidor SMTP (Servidor de Correo Entrante/Saliente)
SMTP_HOST=mail.almagara.es
SMTP_PORT=465
SMTP_USER=fjfh@almagara.es

# Contraseña del Correo Electrónico (¡NO LA PONGAS EN EL CÓDIGO HTML/JS!)
SMTP_PASS=tu_contraseña_del_correo_aquí

# Destinatarios de los Mensajes de Contacto
MAIL_TO_GMAIL=fjavier9906@gmail.com
MAIL_TO_ALMAGARA=fjfh@almagara.es


# Captcha
ALMAGARA_SITE_KEY=EFDSHOFSDAOFPRUEBA
ALMAGARA_SECRET_KEY=DFHDSAFHSAFPRUEBA